<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
     <script type ='text/javascript' 
     src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
     <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="title">
      <h1>Stock Stalker Application</h1>
      <h3>Realtime Stock Analysis</h3>
    </div>
    <div class="appContainer">
      
      <div class="mainContainer">
        
          <div id="stockChart">
            <canvas id="myChart"></canvas>
          </div>
          <div id="addStock">

            <div class="inputContainer">
              <input type="text" required>
              <label >Add Stock</label>
              <span class="bar"></span>
              <div id="btnContainer">
                <button id="btn">Add</button>
              </div>
            </div>

          </div>
        
      </div>
      <div id="stockCardContainer">
  
        <% dbStocks.forEach((stock) => { %>
          <div class="stockCard">
            <div class="symbolContainer"><span><%=stock.symbol%></span><span class="delete" id=<%=stock.symbol%>>X</span></div>
            <div class="companyName"><span><%=stock.name%></span></div>
          </div>
      
      <% }) %>
        
      </div>
    </div>
  <script> 
   
    window.currentStocks = <%- JSON.stringify(currentStocks) %>;
      // var socket = io.connect();
    
  </script>


    <script type='text/javascript' src='/scripts/index.js'></script>
  </body>
</html>
